src/classWork/XML/ShemeXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="people">
        <xs:complexType>
            <xs:sequence>
                <xs:element name='human' type='human' maxOccurs="2"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="human">
        <xs:sequence>
            <xs:element name="name" type="xs:string" maxOccurs="3"/>
        </xs:sequence>
        <xs:attribute name="sex" type="xs:string"/>
    </xs:complexType>
</xs:schema>